body{
    /*  Margin de fora para dentro
        padding de dentro para fora  */
    margin: 0;
    padding: 0;

    font-family: Verdana;
    background-color: whitesmoke;
}

.container{
    width: 90%;
    margin: auto;
    display: flex;
}

.header{

    /* border-bottom cria meio que uma linha na delimitação */
    border-bottom: 3px solid #32b9cd;
    background-color: black;
}

.titulo{
    color: #32b9cd;
    font-weight: 500;
}

.navbar{
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;

    color: #e3b062;
}

.header .container{
    justify-content: space-between;
}


.banner{
    background-image: url(imagens/bg-jelly-fish-para_outras_pags.png);
    width: 100%;
    height: 500px;
    color: white;

    display: flex;
    
}

.banner-title{
    margin: 0;
    font-size: 35px;

}

.banner .container{
    width: 10%;
    justify-content: flex-end;

}

.cards{
    display: flex;
    text-align: center;

    padding: 5%;
    gap: 25px;
}

.card img{
    height: 100px;
    width: 100px;

    justify-content: space-evenly;

}
.card h2{
    color: #eb3333;

}

.card{
    flex-direction: row;
    

}


.footer{
    display: flex;

    justify-content: center;
    flex-direction: column;
    align-items: center;

    padding-top: 1%;

    width: 100%;
    height: 100px;

    background-color: #32b9cd;

}

.footer p{
    margin: 0;
    color: white;
}